<h2>Please enter password for a user with sudo priveleges on server <i><%= host['hostname'] %></i></h2>
<form id="ssh_login_form" method="post">
    <div class="ssh_login">
        <label for="ssh_username">
            Username
        </label>
        <br/>
        <input id="ssh_login_username" type="text" name="ssh_username" size="15" />
        <br/>
        <label for="ssh_username">
            Password
        </label>
        <br/><input id="ssh_login_password" type="password" name="ssh_password" size="15" />
        <input type="submit" value="Login" id="ssh_login_form_submit" />
        <div id="ssh_login_form_status" class="executebutton"> </div>
    </div>
</form>