<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Solr Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
		<script src="{{ url_for('static', filename='js/jquery-1.6.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/instances_table.js') }}"></script>
	</head>
	<body>
		<div class="hidden" id="statusbar"></div>
		<h1>Soldash</h1>
		<h2>Current Solr Instances:</h2>
		<table class="instances">
			<tr>
				<th>Host</th>
				<th>Status</th>
				<th>Type</th>
				<th>Version</th>
				<th>Generation</th>
				{% for command in c.commands %}
					{% if command.title %}
						<th>{{command.title}}</th>
					{% endif %}
				{% endfor %}
			</tr>
			{% for host in c.hosts %}
				<tr>
					<td class="address">
						<a href="http://{{host.hostname}}:{{host.port}}/solr/admin">{{host.hostname}}:{{host.port}}</a>
					</td>
					{% if host.details %}
						{% set det = host.details.details %}
						<td class="status {{c.responseHeaders[host.details.responseHeader.status]}}">
							{{c.responseHeaders[host.details.responseHeader.status]}}
						</td>
						<td class="type">{{ 'M' if det.isMaster else 'S' }}</td>
						<td class="version">{{det.indexVersion}}</td>
						<td class="generation">{{det.generation}}</td>
						{% for command in c.commands %}
							{% if command.title %}
							    {% set element_id = [host.hostname.replace('.','_'),host.port,command.command]|join('_') %}
								<td class="{{command.command}}">
									<a href="javascript:command_click('{{command.command}}', 
																		{
																		 hostname: '{{host.hostname}}',
																		 port: '{{host.port}}',
																		 auth: {{host.auth}}
																		}, 
																		'#{{element_id}}')">
										<div class="executebutton ready" id="{{element_id}}"> </div>
									</a>
								</th>
							{% endif %}
						{% endfor %}
					{% else %}
						<td class="status critical">{{host.error}}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>