<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Solr Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/basicmodal/basic.css') }}" />
        <script src="{{ url_for('static', filename='js/jquery-1.6.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/simplemodal/jquery.simplemodal.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ejs/ejs_production.js') }}"></script>
        <script src="{{ url_for('static', filename='js/instances_table.js') }}"></script>
    </head>
    <body onload="initialise();">
        <div id="statusbar" class="hidden"></div>
        <div id="EJS_container">Loading...</div>
        <div id="filelist_overlay" class="hidden"></div>
        <div id="footer">
            <hr/>
            Powered by <a href="http://flask.pocoo.org" target="_new">flask</a> and <a href="http://embeddedjs.com" target="_new">EJS</a>.
        </div>
    </body>
</html>
