/*
colours:
#1b1d26
#425955
#778c7a
#f1f2d8
#bfbd9f
*/

body {
	background-color: #f1f2d8;
	font-family: Helvetica, Arial, sans-serif;
	color: #1b1d26;
}

h1 {
	color: 1b1d26;
}

h2,h3,h4,h5,h6 {
	color: #425955;
}

.instances td, th {
	border: 1px #1b1d26 solid;
}

.instances tr:nth-child(even) {
	background-color: #f1f2d8;
}

.instances tr:nth-child(odd) {
	background-color: #bfbd9f;
}

.critical {
	color: red;
}

.status.ok {
	color: #6f0;
}