<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Solr Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />
	</head>
	<body>
		<h1>Soldash</h1>
		<h2>Current Solr Instances:</h2>
		<table class="instances">
			<tr>
				<th>Host</th>
				<th>Status</th>
				<th>Type</th>
				<th>Version</th>
				<th>Generation</th>
				<th>Fetch Index</th>
				<th>Abort Fetch</th>
				<th>Enable Polling</th>
				<th>Disable Polling</th>
				<th>Enable Replication</th>
				<th>Disable Replication</th>
				<th>Filelist</th>
				<th>Backup</th>
				
			</tr>
			{% for host in c.hosts %}
				<tr>
					<td class="address">{{host.hostname}}:{{host.port}}</td>
					{% if host.details %}
						<td class="status {{c.responseHeaders[host.details.responseHeader.status]}}">
							{{c.responseHeaders[host.details.responseHeader.status]}}
						</td>
						<td class="type">{{ 'M' if host.details.details.isMaster else 'S' }}</td>
						<td class="version">{{host.details.details.indexVersion}}</td>
						<td class="generation">{{host.details.details.generation}}</td>
						<td class="fetchindex"></td>
						<td class="abortfetch"></td>
						<td class="enablepoll"></td>
						<td class="disablepoll"></td>
						<td class="enablereplication"></td>
						<td class="disablereplication"></td>
						<td class="filelist"></td>
						<td class="backup"></td>
					{% else %}
						<td class="status critical">DOWN</td>
					{% endif %}
					{{host}}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>